<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="login-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Fjalla+One&family=Press+Start+2P&family=Share+Tech+Mono&display=swap"
        rel="stylesheet">
    <title>CTF-2</title>
</head>

<body>
    <div class="container">

        <h1>PORTAL DEL EMPLEADO</h1>

        <form action="/login" method="POST">
            <h2>Accede a tus datos personales</h2>
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">LOGIN</button>
        </form>

</body>